@page
@section Styles {
	<link href="~/css/my_layout/info.css" rel="stylesheet">
}

<div id="content">
	<h1>About Us</h1>
	<article>
		E-Library is a website that exposes our large collection of books in our physical store. 
		Here, customers can look up the avaliability of books and order any in a few simple clicks.
	</article>
</div>
