@page
@section Styles {
	<link href="~/css/my_layout/info.css" rel="stylesheet">
}

<div id="content">
	<h1>Contact Us</h1>
	<article>
		Phone: 6xx-xxx-xxxx<br>
		Email: <a href="mailto:xxx@mail.com">xxx@mail.com</a> 
	</article>
</div>
