@inherits LayoutComponentBase


<PageTitle>Admin</PageTitle>

<div class="page">
    <main>
        <div style="position: relative; z-index: +1">
            <OrderNavigation />
        </div>
        
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
