@page
@model OrderCompletedModel
@section Styles {
	<link href="~/css/my_layout/info.css" rel="stylesheet">
}

<div id="content">
	<h1>@Model.ThankingMessage</h1>
	<article>
		@Model.InfoMessage
	</article>
</div>

